@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ClashDisplay;
  src: url('/fonts/ClashDisplay-Bold.otf') format('opentype');
}

:root {
  --secondary-clr: #150e28;
  --primary-clr: #d434fe;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-clr);
  background-blend-mode: hard-light;
  color: #fff;
  overflow-x: hidden;
}

.line-between {
  position: relative;
}

.line-between::after {
  content: '';
  position: absolute;
  right: -30px;
  top: 8px;
  width: 4px;
  height: 80%;
  background-color: var(--primary-clr);
}

.nav-scrolled {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
